# Core Data Science & Numerical Computing
pandas
numpy
scipy
plotly
matplotlib
seaborn

# Machine Learning Models & Tuning
scikit-learn
xgboost
lightgbm
imblearn
catboost
optuna
joblib

# MLOps Orchestration, Tracking & Monitoring
zenml
mlflow
evidently

# Database & Storage (PostgreSQL Integration)
psycopg2-binary
sqlalchemy

# API & Serving Engine
fastapi
uvicorn
pydantic
jinja2

# Utilities, Config & Development
python-dotenv
PyYAML
ipykernel
notebook

# Testing & Quality Assurance
pytest
flake8
black

#
from_root
dill
mypy-boto3-s3
botocore
boto3
neuro_mf
python-multipart

# editable installs
-e .